$purple: #3F0E40;
$light-purple: #5D3D5D;
$bright-purple: #CFC3CF;
$purple-border: #522653;
$dark: #1D1C1D;
$gray: #6A696A;
$white: #FFFFFF;

$topbar: #360D36;

// Banners
$banner-border: #E2E2E2;
$banner-border-dark: #D3D3D3;

// Tags
$channel-tag-bg: #E8F5Fa;
$channel-tag-text: #1364A3;

// Greens
$green-accent: #29B27B;
$green-text: #0B8061;
$green-border: #ADD2C7;

// Grays
$bg-light: #F8F8F8;